#Temu 1

In [8]:
df <- data.frame(
  nama = c("adit", "bayu", "chintya", "david", "ervita", "fahmi", "gabriel", "hendra", "indri", "jeffry"),
  prodi = c("tpl", "si", "tpl", "ti", "ti", "ti", "tpl", "si", "tpl", "tpl"),
  angkatan = c(2018, 2017, 2017, 2019, 2018, 2017, 2016, 2018, 2018, 2019),
  ipk = c(3.15, 3.00, 3.53, 3.77, 3.42, 3.33, 3.19, 2.95, 3.25, 3.72)
)

# Show the data frame as a table
df

NameError: name 'df' is not defined

Belajar dengan google collab

In [ ]:
userdata = "admin"

data = input("Masukkan user data:")

if data == userdata:
  print("Login berhasil")
else:
  print("Login gagal")

Masukkan user data:test
Login gagal

## 1. Pengantar Python

##2. Sintaks Dasar Python

Penggunaan identasi yang benar

In [ ]:
if True:
  print("Benar")

Benar

Penggunaan identasi yang salah

In [ ]:
print("Hello")
    print("World")
print("Nice")

IndentationError: unexpected indent (<ipython-input-2-30b91be9eaed>, line 2)

Penggunaan titik koma

In [ ]:
i = 10
j = 20
k = 30

i = 10; j = 20; k = 30

Penggunaan python docstrings

In [ ]:
def square(n):
  '''Takes in a number n, returns the square of n'''
  return n**2

def multiplier (a,b):
  """Takes in two numbers, returns their product"""
  return a*b

##3. Variabel dalam Python

### Variabel

In [ ]:
#Contoh pembuatan variabel yang benar
nama = "Khenjy Johnelson"

#Contoh pembuatan variabel yang salah
#1tes = 2

#Case Sensitive, karena variabel dalam python itu case sensitive
namaUser = "Khenjy"
NamaUser = "Ehren"

print(NamaUser)

Ehren

Memberi nilai dalam sebuah variabel

In [ ]:
#Memberi nilai individual
nama_pengguna = "John Doe"

#Menggunakan array list
daftar_pengguna = ["Clarice", "Statham", nama_pengguna, "Bernard"]

print(daftar_pengguna)

['Clarice', 'Statham', 'John Doe', 'Bernard']

Contoh penggunaan variabel di python

In [ ]:
# Contoh variabel string
name = "Jake Smoothy"

# Contoh variabel integer
age = 55

# Contoh variabel float
height = 188.3

# Contoh variabel boolean
isRaining = True

### Multi penugasan (Multiple assignment)

Menetapkan beberapa nilai ke beberapa variabel

In [ ]:
num1, num2 = 5, 10,8
name, age, height = "Grimm", 32, 190.2

print(num1)
print (name, age, height)

ValueError: too many values to unpack (expected 2)

Menetapkan nilai yang sama untuk beberapa variabel

In [ ]:
#ketika jumlah variabel tidak sama dengan jumlah nilai
num1, num2 = 5, 40, 70

In [ ]:
num1 = num2 = 1
student1 = student2 = student3 = "David"

print (num2)
print (student2)

1
David